body {
    background-color: #efefef;
    /*background-image: url("/img/body.png");*/
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.btn-publish {
    margin-bottom: 15px;
    float: right;
}
.img-size {
    width: 60px;
    height: 60px;
}
.nav-backimg {
    background-image: url("/img/nav-img.png");
}
.pagination-location {
    float: right;
    margin-right: 100px;
}
.profile .section {
    margin-top: 20px;
}
.community-menu {
    color: #999;
    font-size: 12px;
}
.hover:hover {
    text-decoration:none;
}
.hover:active {
    text-decoration:none;
}
.hover:visited {
    text-decoration:none;
}
.title {
    color: black;
    font-weight: bold ;
}
.community-content-location {
    width: 1140px;
    margin: auto;
    background-color: white;
}
.community-nav-location {
    width: 1140px;
    margin: auto;
}
.nav-location {
    margin-bottom: 50px;
}
.community-delete-style {
    margin-left: 30px;
    cursor: pointer;
}
.community-delete-style:hover {
    color: rgb(35,82,124);
}

.hero-unit {
    width: 1140px;
    height: 500px;
    margin-top: 300px;
}


