body {
    background-color: #efefef;
}

.main {
    margin: 30px;
    background-color: white;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.btn-publish {
    margin-bottom: 15px;
    float: right;
}
.img-size {
    width: 60px;
    height: 60px;
}
.nav-backimg {
    background-image: url("/img/nav-img.png");
}
.pagination-location {
    float: right;
    margin-right: 100px;
}
.profile .section {
    margin-top: 20px;
}
.community-menu {
    color: #999;
    font-size: 12px;
}
.hover:hover {
    text-decoration:none;
}
.hover:active {
    text-decoration:none;
}
.hover:visited {
    text-decoration:none;
}
.title {
    color: black;
    font-weight: bold ;
}

